
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1503538542728'); /* IE9*/
  src: url('iconfont.eot?t=1503538542728#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1503538542728') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1503538542728') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1503538542728#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xialashuaxin:before { content: "\e67d"; }

.icon-xialashuaxin1:before { content: "\e67a"; }

.icon-xialashuaxin2:before { content: "\e634"; }

.icon-xialashuaxin3:before { content: "\e6bc"; }

